.ExpandableBox {
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    display: block;
}

.ExpandableBox h3 {
    margin: 0;
}

.eb-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: default;
    color: #242424;
    margin-left: 5px;
}

.eb-header span {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.eb-header:hover {
    color: #1a1a1a;
}

.eb-list div:not(.data-item), .eb-extension div:not(.data-item){
    max-width: 300px;
    width: 100px;
    min-width: fit-content;
}

.eb-list input {
    width: 100px;
}

.eb-extension {
    margin: 10px 5px 3px 5px;
    float: left;
}

.ExpandableBox p {
    margin: 5px;
    color: #242424;
    font-weight: bold;
}